body{
font-family:arial,helvetica,sans-serif;
margin: 0;
}


.image {
width: 1349px;
    height:395px; 
    margin: 0;
    padding: 0;
}

.text{
    margin-left: 100px;
}

.text1{
    margin-top: -20px;
    margin-bottom: -30px;
}

.seconddiv{
    background-color: #04B486;
    width: auto;
    height: 165px;
    margin: 0;
}

.firstdiv{
 margin: 0;
}

#color{
    color: #C5B358;
    font-size: 4em;
    margin-left: 200px;
}

#one{
    color: #C5B358;
    margin-left: 190px;
    font-size: 1.8em;
    margin-bottom: -55px;
}

.two{
    color: white;
    font-size: 1.4em;
    margin-left: 400px;
}

.three{
    background-color: #81F79F;
    height: 1000px;
    width: 1349px;
}

.four{
    background-color: #81F79F;
    height: 500px;
    width: 650px;
    float:  right;
}

#header{
    font-size: 2em;
    color: red;
    position: relative;
    left: 1100px;
}

#headero{
    font-size: 2em;
    color: red;
    position: relative;
    right: 80px;
}

.table{
    position: relative;
    right: 80px;

}
